<header class="flex justify-between bg-white px-4 py-6 border-b sm:px-6 lg:px-8">
  <.link navigate="/">Home</.link>
  <.link navigate="/stats">Stats</.link>
</header>
<main
  class="px-4 transition-all duration-500 opacity-0"
  phx-mounted={JS.remove_class("opacity-0")}
>
  <div class="">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
